body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ECECEA;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: 510;
}

.horizontal-sm-li{
    line-height: 2;
}

a {
    text-decoration: none;
}

.a-light {
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none;
}

.a-light:hover {
    color: rgb(194, 192, 192);
}

.a-dark {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.a-dark:hover {
    color: rgb(194, 192, 192);
    font-family: 'Poppins', sans-serif;
}

.card {
    border-radius: 15px;
    /* border: 2px solid black; */
    box-shadow: 1px 1px 4px black;
}

.card:hover {
    transition: transform 0.5s;
    transform: scale3d(1.04, 1.04, 1.04);
}

.btn {
    box-shadow: 1px 1px 4px black;
}

.btn-primary {
    background: #73D2DE;
    color: black;
    border: white;
}

.btn-primary:hover {
    background: black;
}

input {
    box-shadow: 1px 1px 4px black;
}

.card-img-top {
    height: 20vh;
    /* border: 2px solid black; */
}

.card{
    color: #003171;
}

.fa {
    color: #73D2DE;
}

.fa-light {
    color: white;
}


/* Navigation start */

.navbar {
    background-color: #003171;
    width: 92vw;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px 4px black;
}

.navbar-brand {
    color: rgb(252, 248, 248) !important;
}

.nav-item{
    font-family: 'Roboto', sans-serif;
}

/* Set the border color to the desired color */

.navbar-toggler-icon {
    color: black
}


/* navigation End */

.whitespace {
    height: 5vh;
}


/* footer start */

.page-footer {
    width: 92vw;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #003171;
    box-shadow: 1px 1px 8px black;
}

.page-footer h5{
    font-family: 'Roboto Condensed', sans-serif;
}

.page-footer p {
    color: white;
}

.footer-copyright {
    color: white;
    font-family: 'Roboto', sans-serif;
}

h5.text-uppercase {
    color: white;
}


/* footer end */


/* home page start */


/* #card-home-down {
    margin-top: 10vh;
    height: 22rem;
} */


/* home page end */


/* contact Start */

.contact-img {
    width: 60%;
    margin: auto;
}


/* contact End */


/* cutoffcard start */

.thead-cutoff {
    background: #73D2DE;
}

.btn-cutoff {
    background: #73D2DE;
}

table {
    display: table;
    width: fit-content;
}

.calculator tr {
    display: table-row;
}


/* fb comments section */

div .fb-comments {
    margin-left: 0vw !important;
}


@media ( max-width: 768px ){
    .horizontal-sm-li li{
        display: inline;
        padding-left: 10px;
        padding-top: 5px;
    }
}