body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ECECEA;
    font-family: 'Lato', sans serif;
}

a {
    text-decoration: none;
}

.a-light {
    color: white;
}

a:hover {
    text-decoration: none;
}

.a-light:hover {
    color: black;
}

.a-dark {
    color:white;
}

.a-dark:hover {
    color: black;
}

.card {
    border-radius: 15px;
    /* border: 2px solid black; */
    box-shadow: 1px 1px 4px black;
}

.card:hover {
    transition: transform 0.5s;
    transform: scale3d(1.04, 1.04, 1.04);
}

.btn {
    box-shadow: 1px 1px 4px black;
}

.btn-primary {
    background: #73D2DE;
    color: black;
    border: white;
}

.btn-primary:hover {
    background: black;
}

input {
    box-shadow: 1px 1px 4px black;
}

.card-img-top {
    height: 20vh;
    /* border: 2px solid black; */
}

.fa{
    color: #73D2DE;
}

.fa-light{
    color: white;
}



/* Navigation start */

.navbar {
    background-color: #73D2DE;
    width: 92vw;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px 4px black;
}


.navbar-brand{
    color: black !important;
}

/* Set the border color to the desired color */

.navbar-toggler-icon {
    color: black
}


/* navigation End */

.whitespace {
    height: 5vh;
}


/* footer start */

.page-footer {
    width: 92vw;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #73D2DE;
    box-shadow: 1px 1px 8px black;
}


/* footer end */


/* home page start */


/* #card-home-down {
    margin-top: 10vh;
    height: 22rem;
} */


/* home page end */


/* contact Start */

.contact-img {
    width: 60%;
    margin: auto;
}


/* contact End */


/* cutoffcard start */

.thead-cutoff {
    background: #73D2DE;
}

.btn-cutoff {
    background: #73D2DE;
}

table {
    display: table;
    width: fit-content;
}

.calculator tr {
    display: table-row;
}

/* fb comments section */

div .fb-comments{
    margin-left: 0vw !important;
}


