body{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ECECEA;
    font-family: 'Lato' ,sans serif;
}



.fa{
    color: white;
}

a{
    text-decoration: none;
}

.a-light{
    
    color: white;
}

a:hover{
    text-decoration: none;
}
.a-light:hover{
    
    color:black;
}

.a-dark{
    color: #73D2DE;
}

.a-dark:hover{
    color: black;
}

/* Navigation start */

.navbar{
    background-color: #73D2DE;
    width: 92vw;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 1px 1px 4px black;
}

.nav-img{
    width: 15vw;
    position: absolute;
    left: 75vw;
    top: -0.5px;
}


/* Set the border color to the desired color */ 
.navbar-toggler-icon{
    color: black
}


/* navigation End */

.whitespace{
    height: 5vh;
}

/* college page */

/* main content start */
.container-fluid-college{
    width: 95vw;
}
.col-a{
    width: 100%;
    border-radius: 15px;
    /* border: 2px solid black; */
}

.col-md-2-left{
    padding: 20px;
    padding-left: 30px;
    border-radius: 15px;
    /* border: 2px solid black; */
}

.col-md-10-right{
    
    padding: 20px;
    padding-left: 50px;
    
}

/* main content end */



.card-college{
    border: 2px solid white;
    margin-top: 3vh;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px black;
    
}

.card-college:hover{
	transition: transform 1s;
	transform: scale3d(1.04, 1.04, 1.04);
}

/* aside start */
.col-a-1{
    background: white;
    margin-top: 3vh;
    padding: 10px;
    padding-left: 20px;
    height: auto;
    position: static;
    background-color: #73D2DE;
    box-shadow: 1px 1px 4px black;
}
/* aside end*/


/* college page */

/* footer start */

.page-footer{
    width: 92vw;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #73D2DE;
    box-shadow: 1px 1px 8px black;
}

/* footer end */


/* home page start */

.home-img{
    
    /* border: 2px solid black; */
    width: 80vw;
    height: 80vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.container-fluid-home{
    margin-top: 6vh;

}

.row-home-1{
    margin: auto;
    /* border: 2px solid black; */
    justify-content: center;
}

.card-home{
    border-radius: 15px;
    border: 2px solid white;
    margin: 10px;
    box-shadow: 1px 1px 4px black;
}

.card-home:hover{
	transition: transform 1s;
	transform: scale3d(1.04, 1.04, 1.04);
}


.card-home h5{
    text-align: center;
}

#card-home-down{
    margin-top: 10vh;
}


 

/* home page end */


/* contact Start */

.row-contact-2{
    /* border: 2px solid black; */
    margin-top: 6vh;
    display: flex;
    margin-bottom: 5vh;
}

h1{
    text-align: center;
}
.contact-img{
    width: 60%;
    height: auto;
    /* border: 2px solid black; */
    margin: auto;
}

.card-contact{
    border-radius: 15px;
    margin: auto;
    box-shadow: 1px 1px 4px black;
    border: 2px solid white;
}

.card-img-top-contact{
    height: 20vh;

}

.fa-envelope{
    color: #73D2DE;
}

.fa-telegram{
    color: #73D2DE;
}

.fa-facebook{
    color: #73D2DE;
}

/* contact End */


/* cutoff start */
.center {
  
  margin-left: auto;
  margin-right: auto;
}

.container-fluid-cutoff{
    width: 90vw;
    margin-top: 10vh;
}

.row-cutoff-1{
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}
.thead-cutoff{
    background: #73D2DE;
}

.btn-cutoff{
    background: #73D2DE;
}
/* cutoff End */







/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .nav-img{
        left: 50;
    }

 }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    

 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 


}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 


}

h
