body{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ECECEA;
    font-family: 'Lato' ,sans serif;
}



.fa{
    color: white;
}

a{
    text-decoration: none;
}

.a-light{
    
    color: white;
}

a:hover{
    text-decoration: none;
}
.a-light:hover{
    
    color:black;
}

.a-dark{
    color: #73D2DE;
}

.a-dark:hover{
    color: black;
}

/* Navigation start */

.navbar{
    background-color: #73D2DE;
    width: 92vw;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-img{
    width: 15vw;
    position: absolute;
    left: 75vw;
    top: -0.5px;
}

/* navigation End */

.whitespace{
    height: 5vh;
}

/* college page */

/* main content start */
.container-fluid-college{
    width: 95vw;
}
.col-a{
    width: 100%;
    border-radius: 15px;
    /* border: 2px solid black; */
}

.col-md-2-left{
    padding: 20px;
    padding-left: 30px;
    border-radius: 15px;
    /* border: 2px solid black; */
}

.col-md-10-right{
    
    padding: 20px;
    padding-left: 50px;
    
}

/* main content end */



.card-college{
    margin-top: 3vh;
    padding: 10px;
    border-radius: 15px;
}

/* aside start */
.col-a-1{
    background: white;
    margin-top: 3vh;
    padding: 10px;
    padding-left: 20px;
    height: auto;
    position: static;
    background-color: #73D2DE;
}
/* aside end*/


/* college page */

/* footer start */

.page-footer{
    width: 92vw;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #73D2DE;
}

/* footer end */


/* home page start */

.home-img{
    
    /* border: 2px solid black; */
    width: 80vw;
    height: 80vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


/* Container holding the image and the text */
.h2-rel{
    color: black
}

.container-homepage {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    top: 20vh;
    left: 28vw;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 6vh;
    left: 40.5vw;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 12vh;
    right: 33.5vw;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    top: 20vh;
    right: 25.5vw;
  }
  
  /* Centered text */
  .centered-homepage{
    width: 30vw;
    height: 26vh;
    background: white;
    line-height: 40px;
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .top-right-left{
    position: absolute;
    top: 22.5vh;
    right: 38vw;
  }

  .bottom-right-left{
    position: absolute;
    top: 16vh;
    left: 23.5vw;
  }

/* home page end */


/* contact Start */

.row-contact-2{
    /* border: 2px solid black; */
    margin-top: 6vh;
    display: flex;
    margin-bottom: 5vh;
}

h1{
    text-align: center;
}
.contact-img{
    width: 60%;
    height: auto;
    /* border: 2px solid black; */
}

.card-contact{
    border-radius: 15px;
    margin: auto;
}

.card-img-top-contact{
    height: 20vh;
}

.fa-envelope{
    color: #73D2DE;
}

.fa-telegram{
    color: #73D2DE;
}

.fa-facebook{
    color: #73D2DE;
}

/* contact End */


/* cutoff start */

.container-fluid-cutoff{
    width: 90vw;
    margin-top: 10vh;
}

.row-cutoff-1{
    margin-top: 5vh;
    margin-bottom: 10vh;
    text-align: center;
}
thead{
    background: #73D2DE;
}
/* cutoff End */

@media (max-width: 768px){

    .row{
        justify-content: center;
        display: block;
        flex-direction: column;
    }
}

