table td {
    background-color: #bbebf1;
}

table th {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

table td a {
    background-color: #73D2DE;
    color: black;
}

/* .btn-cutoff {
    background-color: #73D2DE;
}

.btn-cutoff:hover {
    background-color: #4aa6b3;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

.table-body{
    background: #73D2DE;
}

.page-header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}