

table td {
    background-color: #dcf0f3;
}

table th {
    background-color: #3498DB;
    color: aliceblue;
    text-align: center;
    
}
.btn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
    transition: 0.3s;
    background: #22A2AF;
    color: white;
    border: white;
}

.btn-primary:hover {
    opacity: 1;
    background: #2B3436;
}

.page-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}