

table td {
    background-color: #dcf0f3;
}

table th {
    background-color: #003171;
    color: aliceblue;
    text-align: center;
    
}

.btn{
    box-shadow: 1px 1px 4px black;
}

.btn-primary{
    background: #73D2DE;
    color: white;
    border: white;
}

.btn-primary:hover{
    background: black;
}


.page-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bolder;
}